
.clock {
  margin-top: 30px;
}

.timezone {
  display: inline-block;
  width: 60px;
  padding-right: 30px;
  text-align: right;
}

.days, .hours, .minutes, .seconds {
  display: inline-block;
  width: 110px;
}

.label {
  font-size: 16px;
  color: #eee;
}


.timer .date {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  color: #9482c9;
  text-align: center;
  margin-right: 10px;
  padding: 0 10px;
  background-color: #000;
  border: 1px solid #555;
}

#live {
  font-size: 32px;
  color: #090;
}

#raidstart {
  font-size: 32px;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  
  .label {
    font-size: 11px;
  }

  .days, .hours, .minutes, .seconds {
    width: 74px;
  }

  .timer .date {

    font-size: 48px;
    margin-right: 5px;
    padding: 0 5px;
  }
  
  #raidstart, #live {
    font-size: 16px;
  }

}